<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Churrascaria do faustão</title>
    <link rel="stylesheet" href="homepage.css">
</head>
<body>
  
    <header>

        <h1 class="titulo">Churrascaria do Fastão </h1>
        <nav><button class="sobre">Sobre nós</button></nav>
    </header>
    <nav class="opcoes">
        <button id="reserva" class=" reserva"><a href="./reservas.html">Reservas </a></button>
        <button id="pedidos" class="pedidos"><a href="./pedidos.html">pedidos</a></button>
        <button id="cardapio" class="cardapio"><a href="./cardapio.html">cardapio</a></button>

    </nav>
    <main class="map">



        <iframe class="mapGoogle" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7972.041118362503!2d-44.291314382815166!3d-2.500111338145674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7f68c2d7fa3aa0b%3A0xc58ef8d3371677cb!2sUNDB!5e0!3m2!1spt-BR!2sbr!4v1678376769971!5m2!1spt-BR!2sbr" 
        width="350" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </main>


    <footer class="notas">
        <p >Não utilizamos churrasqueiras eletricas</p>
        <p>
            Contatos: <br>
            <a href="tapegandofogobicho@gmail.com" target="_blank">tapegandofogobicho@gmail.com</a>
            <br><a href="tel+5598900000000">telefone</a>
        </p>
        


    </footer>
    

</body>
</html>